/* HeroSection Component */
.hero-section {
  min-height: 80vh;
  background-color: #fff5ee; 
}

.hero-section .hero-text {
  color: #2c2c2c !important;
}

.hero-section .btn-buy-me {
  background-color: #ff914d;
  border-color: #ff914d;
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s, border-color 0.3s;
}

.hero-section .btn-buy-me:hover {
  background-color: #e68345; 
  border-color: #e68345;
}

/* DogBreed */
.breed-img-circle {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s;
}

.breed-img-circle:hover {
  transform: translateY(-5px); 
}

.btn-orange-custom {
  background-color: #ff914d;
  border-color: #ff914d;
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-orange-custom:hover {
  background-color: #e68345; 
  border-color: #e68345;
}

.breed-img-circle {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s;
}

.breed-img-circle:hover {
  transform: translateY(-5px); 
}

/* blogSection */
.blog-card {
  border-radius: 1rem !important; 
  border: none; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); 
}

.blog-card .card-text {
  font-size: 1rem;
  font-weight: 500;
  color: #2c2c2c;
  padding: 0 1rem; 
}

.blog-card .card-img-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    height: 180px; 
    object-fit: cover;
}

/* newsletter */

.newsletter-outer1 {
  background-color: #eac490;      
  border-radius: 40px;            
  padding: 4rem ;
  margin: 3rem auto;
  width: 90%;
}
.newsletter-box {
  padding: 1rem;
}

.newsletter-dog {
  max-width: 260px;
  border-radius: 1.2rem;
  object-fit: contain;
}

.newsletter-title {
  font-size: 2.8rem;
  font-weight: 800;
  color: #1c1b1b;
}

.newsletter-desc {
  font-size: 1.3rem;
  color: #2c2c2c;
}

.newsletter-input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  border: none;
  background-color: #ffffffcc;
  font-size: 1rem;
}

.newsletter-btn {
  background: #f7941d;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
}
.newsletter-btn:hover {
  background: #e58314;
}

/* footer */

.app-footer {
  background-color: #fff5ee; 
  color: #2c2c2c;
}

.app-footer a {
  color: #2c2c2c; 
  text-decoration: none;
}

.app-footer a:hover {
  color: #ff914d; 
}

.app-footer h5 {
  color: #ff914d; 
  font-weight: bold;
  margin-bottom: 1rem;
}

.app-footer .social-icon-link {
  font-size: 1.5rem;
  margin-right: 1rem;
}