

/* footer */

.app-footer {
  background-color: #fff5ee; 
  color: #2c2c2c;
}

.app-footer a {
  color: #2c2c2c; 
  text-decoration: none;
}

.app-footer a:hover {
  color: #ff914d; 
}

.app-footer h5 {
  color: #ff914d; 
  font-weight: bold;
  margin-bottom: 1rem;
}

.app-footer .social-icon-link {
  font-size: 1.5rem;
  margin-right: 1rem;
}